<extends src="layout.html">
  <block name="content">
    <div class="header-wrapper p-3">
      <div class="header-logo">
        <a href="#"
          ><img
            class="img-fluid"
            src="https://cdn.rawgit.com/webriq/webriqpage-anzacday-landingpage-2/32387408/assets/img/header-logo.png"
        /></a>
      </div>
    </div>
    <div>
      <img
        class="img-fluid"
        src="https://cdn.rawgit.com/webriq/webriqpage-anzacday-landingpage-2/32387408/assets/img/slide4.jpg"
      />
    </div>
    <div class="navigation-menu">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card m-4 p-5">
              <div class="card-body text-center">
                <i
                  class="fa fa-home"
                  style="font-size: 60px; color: #c68d4a"
                ></i>
                <h4 class="card-title mt-4" style="color: #010101">
                  ANZAC Day Site
                </h4>
                <h6 class="text-muted card-subtitle mb-4"></h6>
                <p>
                  "ANZAC” was the name given to a combined force of First
                  Australian Imperial Force and New Zealand Army troops who
                  landed on Turkey’s Gallipoli Peninsula at around dawn on
                  Sunday, the 25th day of April, 1915, barely nine months after
                  the outbreak of World War I.
                </p>
                <a
                  class="card-link btn btn-primary"
                  href="http://main.anzacday.org.au/home"
                  >VISIT HOMEPAGE</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card m-4 p-5">
              <div class="card-body text-center">
                <i
                  class="fa fa-shopping-cart"
                  style="font-size: 60px; color: #c68d4a"
                ></i>
                <h4 class="card-title mt-4" style="color: #010101">
                  ANZAC Online Shop
                </h4>
                <h6 class="text-muted card-subtitle mb-4"></h6>
                <p>
                  Profits from Online Shop sales help underwrite the many
                  projects that we initiate every year to honour all Australian
                  Defence Force personnel who have served their country in time
                  of war and peace.
                </p>
                <a
                  class="card-link btn btn-primary"
                  href="https://shop.anzacday.org.au/"
                  >SHOP NOW</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </block>
</extends>
